
*{
    margin: 0px;
}
 
.parent{
    
    display: flex;
    margin: 20px;
    justify-content: space-between;
    align-items: center;
    
}

.title{
    font-size: 80px;
    margin-left: 240px;

}

.discription{
    font-size: 18px;
    margin-left: 240px;
}

.btn{
    border: 10px;
    color: #FFF;

    background-color: blueviolet;
    margin-left: 240px;
    margin-top: 20px;
    font-weight: 700;
    padding:20px 43px ;
    font-size: 20px ;

}

.img{
    
}
/*section 2*/
.title2{
    text-align: center;
    font-size: 40px;
    margin-top: 178px;
}

p{
    text-align: center;
    font-size: 18px;
    font-weight: 400px;
}

.box{
  
    display: flex;
    justify-content: space-between;
    margin-left: 240px;
    margin-right: 240px;
    gap: 10px;
    
}

.card{
    width: 464px;
    height: 538px;
    border-radius:40% 40% 0% 0% ;
    background-color: rgba(167, 33, 98, 0.15);
    margin-top: 20px;

}

.link{
    display: block;
    text-align: center;
    font-size: 28px;
    color: black ;
    font-weight: bold;

}
/*section3*/
 .section3{

     border-top: 2px red;
     display: flex;
     justify-content: space-around;
     margin-top: 60px;
     align-items: center;
     padding-left: 30px;
 }

 .title3{
     font-size: 40px;
 }
 .pre{
     font-size: 18px;
 }


 button{
   
    color: #FFF;
    align-items: center;
    background-color: blueviolet;
    margin-left: 320px;
    background: #E55473;
    border-radius: 8px;
    padding:20px 43px ;
    font-size: 20px ;

 }
/* section4*/
 .section4{
     text-align: center;
     margin-top: 80px;
 }

 .title4{
     font-size: 40px;
     font-weight: bold;
 }
 .pre4{
     font-size: 18px;
     font-weight: 400;
     margin: 20px;
 }
 .benner{
     display: flex;
     margin-left: 240px;
     margin-right: 240px;
     justify-content: space-between;
 }
 .png{
     width: 342px;
     height: 396px;
 }
 /*section5*/
.section5{
    width: 1538px;
    height: 450px;
    background-image: url(./image/Rectangle\ 9.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    display: flex;
    background-position: center;
    align-items: center;
    margin-top: 50px;
    margin-left: 240px;
}
.title5{
    text-align: center;
    font-size: 40px;
    margin-left:auto;
}
.int-form{
    margin-left: 150px;
    border-radius: 20px solid red;
    border: 30px;
    padding: 10;
    height: 40px;

}



/*section6*/

footer{
    margin: 20px;
    margin-top: 100px;
}
    
.section6{
   
    width: 1940px;
    height: 449px;
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    display: flex;
    background-position: center;
    align-items: center;
    margin: 20px;
}
.title6{
    margin-left: 750px;
    color: #FFF;
    font-size: 40px;
    font-style: italic;
}

.pre6{
    margin-top: 30px;
    color: #FFF;
    margin-left: 750px;
}
