
*{
    margin: 0px;
}
 
.parent{
    display: flex;
    margin: 20px;
    justify-content: space-between;
    align-items: center;
    
}

.title{
    font-size: 80px;
    margin-left: 240px;

}

.discription{
    font-size: 18px;
    margin-left: 240px;
}

.btn{
    border: 10px;
    color: #FFF;

    background-color: blueviolet;
    margin-left: 240px;
    margin-top: 20px;
    font-weight: 700;
    padding:20px 43px ;
    font-size: 20px ;

}

.img{
    max-resolution: 50px 4017px 240px 1045px;
}
/*section 2*/
.title2{
    text-align: center;
    font-size: 40px;
    margin-top: 178px;
   
}

.pragraph{
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;
}

.box{
    display: flex;
    justify-content: space-between;
    margin-left: 240px;
    margin-right: 240px;
    gap: 10px;
    align-items: center;
}

.card{
    width: 464px;
    height: 538px;
    border-radius:40% 40% 0% 0% ;
    background-color: rgba(167, 33, 98, 0.15);
    margin-top: 20px;

}

.link{
    display: block;
    text-align: center;
    font-size: 28px;
    color: black ;
    font-weight: bold;

}
