
*{
    margin: 0px;
}
 
.parent{
    
    display: flex;
    margin: 20px;
    justify-content: space-between;
    align-items: center;
    
}

.title{
    font-size: 80px;
    margin-left: 240px;

}

.discription{
    font-size: 18px;
    margin-left: 240px;
}

.btn{
    border: 10px;
    color: #FFF;

    background-color: blueviolet;
    margin-left: 240px;
    margin-top: 20px;
    font-weight: 700;
    padding:20px 43px ;
    font-size: 20px ;

}

.img{
    
}
/*section 2*/
.title2{
    text-align: center;
    font-size: 40px;
    margin-top: 178px;
}

p{
    text-align: center;
    font-size: 18px;
    font-weight: 400px;
}

.box{
  
    display: flex;
    justify-content: space-between;
    margin-left: 240px;
    margin-right: 240px;
    gap: 10px;
    
}

.card{
    width: 464px;
    height: 538px;
    border-radius:40% 40% 0% 0% ;
    background-color: rgba(167, 33, 98, 0.15);
    margin-top: 20px;

}

.link{
    display: block;
    text-align: center;
    font-size: 28px;
    color: black ;
    font-weight: bold;

}
/*section3*/
 .section3{

     border-top: 2px red;
     display: flex;
     justify-content: space-around;
     margin-top: 60px;
     align-items: center;
     padding-left: 30px;
 }

 .title3{
     font-size: 40px;
 }
 .pre{
     font-size: 18px;
 }


 button{
   
    color: #FFF;
    align-items: center;
    background-color: blueviolet;
    margin-left: 320px;
    background: #E55473;
    border-radius: 8px;
    padding:20px 43px ;
    font-size: 20px ;

 }

 .section4{
     text-align: center;
     margin-top: 80px;
 }
 